<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG4vJ5BUBi1xsNej71rMvwpnVxL6ZwkVM</string>
	<key>GCM_SENDER_ID</key>
	<string>859560334690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yesilsepet</string>
	<key>PROJECT_ID</key>
	<string>suup-5bad6</string>
	<key>STORAGE_BUCKET</key>
	<string>suup-5bad6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859560334690:ios:4776f2c11cdd2a9ed7c83b</string>
</dict>
</plist>